*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #03264c;
}
li{
    list-style: none;
}


/* BODY */
body{
    background-color: var(--color-grisClaro);
    font-family: var(--font-roboto);
}