:root{
    --color-amarillo : #eac926;
    --color-azul : #03264c;
    --color-celeste : #1259c3;
    --color-grisOscuro : #666;
    --color-grisClaro : #ebebeb;
    --color-verde : #39b54a;
    /* FUENTES */
    --font-roboto : 'Roboto', sans-serif;
    /* TAMAÑO DE FUENTE */
    --paragraph: 12px;
    --title: 24px;
    --prices: 18px;
    --discounts---discounts-descriptions : 16px;

}